</div><!-- /.container -->
        <!-- Footer -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li class="list-inline-item"><a href="/campgrounds">Home</a></li>
						<li class="list-inline-item"><a href="/campgrounds/new">New Campground</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p class="h6">&copy YelpCamp 2017</p>
					<p class="h6">Site designed and maintained by Tapan Chudasama</p>
				</div>
				</hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->
        <!-- Bootstrap and its dependencies -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- Custom JS for search feature -->
        <script src="/scripts/search.js" async defer></script>
        <script src="jquery.js"></script>
        <script src="bootstrap-confirm-delete.js"></script>
    </body>
</html>